
a{
    color: black;
}

.Quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: lightgray;

}

.namess{
    padding: 20px;
    background-color: indigo;
}

.Heading{
    font-size: 32px;
    
}
.subtext{
    font-size: 8px;
    
}
.Main{
    background-color: darkblue;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.Footer{
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.lol{
    display: flex;
    justify-content: center;
    
}

.item{
    display: flex;
    background-color: rgb(206, 224, 41);
    justify-content: flex-end;
}
button{
    color: blue;
    
}

img{
    width: 200px;
    height: 100px;
    background: grey;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header{
    background-color: darkblue;
    display: flex;
    color: white;
    padding: 10px;
    gap: 10px;
    padding-bottom: 40px;
    
}
.header a{
    display: flex;
    justify-content: flex-end;
    
}

.contents{
    display: flex;
    padding: 30px;
    gap: 10px;
    background: yellow;
}
.contents div{
    background: royalblue;
    width: auto;
    flex: 1 1  ;
}
.words{
    display: flex;
    padding: 10px;
    gap: 150px;
    width: auto;
    padding: 30px;
    
    flex: 1 1 auto;
}

.lollist{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: 30px;
    gap: 10px;
}

.lollist a:hover{
    background-color: floralwhite;
    cursor: pointer;
}

.Box{
    border: 4px solid mediumblue;
    background-color: mediumblue;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}